@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Roboto:wght@100;400&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: #F44336;
    color: #fff;    
    padding: 15px;
    min-height: 100vh
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
header .logo{
    width: 8%;
    height: 80px;
    margin: 10px 15px 10px 10px;
}
header .titulo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   letter-spacing: 6px;
   font-size: 20px;
   
}
header .social {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: right;
    margin: 10px 10px 10px 10px;
}
header .social img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.wrap{
	width:100%;
}

ul.tabs{
    width: 100%;
    background: #F44336;
    border: 1px solid #F44336;
    border-radius: 5px ;
    list-style: none;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

ul.tabs li{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	width: 15%;
    margin: 2px;
}
ul.tabs li:hover{
    background-color:  rgb(255, 136, 0);
}
ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 20px 0px;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contacto h1{
    text-align: center;
    font-size: 24px;
}
.contacto iframe{
    width: 100%;
    margin: 50px;
}
.contacto h2{
    font-size: 20px;
    letter-spacing: 1px;
}
.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.mensaje p{
    letter-spacing: 3px;
}
.mensaje img{
    width: 30%;
    margin-top: 20px;
    border-radius: 250%;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 2);
}

.formulario input{
    border-style: none;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


.section-1 {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.section-2{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.contenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.contenedor:before, .contenedor:after{
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 4px;
	background: #fff;
	transition: all .3s;
}
.contenedor:before{
	left: -100%;
	top: 10px;
}
.contenedor:after{
	left: 100%;
	bottom: 10px;
}
.contenedor:hover:before, .contenedor:hover:after{
	left: 15px;
}

.contenedor {
	margin: 20px auto;
	width: 40%;
	position: relative;
	display: flex;
	align-items: center;
}
.contenedor img{
	width:100%
}
.texto{
	text-align: center;
	position: absolute;
	transition: all .3s;
	transform: scale(1.5);
	opacity: 0;
}
.texto p{
	color: #fff;
	background-color: rgba(44, 44, 44, 0.642);
	padding: 10px 20px;
}
.contenedor:hover .texto{
	transform: scale(1);
	opacity: 1;

}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.galeria {
    color: #fff;
    margin-left: 50px;
}
.galeria h1{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 2px;
}

.div-servicios {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen-servicios {
    border: none;
    padding: 5px;
    width: 22%;
}

.descripcion {
    margin: 50px;
    width: 80%;
}

.descripcion h3,
p {
    color: #fff;
}

.descripcion h3 {
    text-decoration: underline;
    margin: 15px 0px;
    letter-spacing: 2px;
}

#hcg-slider-1 .hcg-slide-container {
    margin-top: 25px;
	width: 500px;
	height: 300px;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	text-align: center;
	overflow: hidden;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
	vertical-align: middle;
}
.hcg-slide-text {
	color: #ffffff;
	font-size: 14px;
	padding: 3px 5px;
	position: absolute;
	bottom: 0;
	border-radius: 5px;
	left: 50%;
	text-align: center;
	text-shadow: 0 0 2px #000;
	background-color: rgba(255,255,255,0.30);
	display: inline-block;
	transform: translate(-50%, -5px);
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}
.hcg-slide-number {
	color: #ffffff;
	font-size: 12px;
	padding: 4px 7px;
	position: absolute;
	border-radius: 5px;
	top: 5px;
	left: 5px;
	background-color: rgba(255,255,255,0.30);
}
/************CSS Animation***********/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}



.contenedoranimado{
    margin: auto;
    width: 100%;
}

.caja{
    display: flex;
    flex-direction: row;
}
.caja__columna{
    color: rgb(8, 8, 8);
    background: #F44336;
    position: relative;
    text-align: center;
    width: 98%;
    height: 440px;
    margin: 10px;
}
.caja__columna .textoan{
    position: absolute;
    top: 25px;
    left: 25%;
    right: 25px;
    bottom: 25px;
    border: 2px solid #e7929ecb;
    padding: 30px;
}
.caja__columna .textoan h2{
    font-size: 20px;
    margin: 0 0 10px;
}
.caja__columna .textoan p{
    font-size: 18px;
}
svg,rect{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}
rect{
    stroke: #cf1111;
    stroke-width: 8;
    stroke-dasharray: 400;
    animation: animate 4s linear infinite;
}
.caja .contenedoranimado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes animate
{
    0%{
        stroke-dashoffset: 800;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@media(min-width:400px){
    .caja__columna{
        width: 82%;
        height: 320px;
    }}
    @media(min-width:520px){
        .caja__columna{
            width: 82%;
            height: 320px;
        }
    }
    @media(min-width:600px){
        .caja__columna{
            width: 82%;
            height: 270px;
        }
    }
    @media(min-width:680px){
        .caja__columna{
            width: 46%;
            height: 460px;
        }
    }
    @media(min-width:780px){
        .caja__columna{
            width: 47%;
            height: 350px;
        }
    }
    @media(min-width:1024px){
        .contenedoranimado{
            width: 1024px;
        }
        .caja__columna{
            width: 31%;
            height: 480px;
        }
    }
    @media(min-width:1200px){
        .contenedoranimado{
            width: 1200px;
        }
        .caja__columna{
            
            height: 480px;
        }
    }
    

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.cuerpo {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.imagen-cuerpo {
    width: 30%;
    margin: 10px;
}

.descripcion-texto, .tituloo {
    font-size: 18px;
    color: #ddd;
    text-align: justify;
    padding: 2%;
}

.tituloo {
    text-align: center;
    font-size: 25px;
}

.imagen-tienda, .imagen-mapa {
    width: 250px;
    height: 150px;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


.contenido-pag-productos {
    margin-top: 30px;
}

.categoria-producto {
    float: left;
    display: flex;
    flex-direction: column;
}

.contenido-pag-productos .categoria-producto .boton-categoria-productos {
    width: 180px;
    padding: 18px;
    background-color: #F44336;
    border-color: #c42e24;
    color: #eee;
}

.contenido-pag-productos .categoria-producto .boton-categoria-activado {
    background-color: #c07d00;
}

.contenido-pag-productos .categoria-producto .boton-categoria-productos:hover {
    cursor: pointer;
    background-color: rgb(255, 136, 0);
    color: #000;
}

#buscar-listaproductos{
    width: 80%;
    height: 35px;
    margin-left: 30px;
    border-radius: 0px 20px 20px 00px ;
    padding-left: 10px;
}


.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: 	wrap;
    margin-top: 10px;
    margin-left:210px;
    margin-right: 50px;
    list-style:none;
    padding: 20px;
    float: inline-start;
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.contenido-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-bottom: 20px;
    width: 15%;
}

.img-productos {
    width: 130px;
    height: 130px;
    border: 1px solid black;
}
 
.texto-producto{
   text-decoration: none;
   color: #fff;
   text-align: center;
   width: 130px;

}
.filtro{
    display: none;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


.detalle_producto{
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.detalle_producto img{

    margin: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.detalles_productos{
    padding: 25px;
}
.dato{
    letter-spacing: 2px;
    margin-right: 10px;
}
.detalles_productos p{
    margin-top: 10px;
}
.detalles_productos h1{
    letter-spacing: 2px;
    text-transform: uppercase;
}



.formulario input,textarea{
    padding-left: 10px;
}

.ok{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #4e8;
    color: #fff
}
.bad{

    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff
}

.formularioproducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tablamantenimiento, .tablaproductos{
    background-color: rgb(255, 42, 0);
    margin-top: 25px;
    border: 1 solid rgb(241, 0, 0);
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8); border-spacing: 20px;
}
.tablaproductos{
    width: 100%;
   
}

.tablamantenimiento td{
    padding: 5px;
}
.tablamantenimiento input{
    height: 30px; 
    padding-left: 5px;
}
.botonesmante{
    margin: 10px;
    width: 100px;
    height: 40px;
}
.listaprod{
    border: 2 solid #000;
    border-style: double;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.buscador_mantenimiento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}
.buscador_mantenimiento input[type=text]{
    width: 500px;
    height: 30px;
    padding-left: 10px;
    border-style: none;
}
.buscador_mantenimiento input[type=submit],input[type=button]{
    width: 200px;
    height: 30px;
    background-color: #8b0000;
    border-style: none;
    color: #fff;
    font-size: 15px;
}
.buscador_mantenimiento input[type=submit]:hover ,input[type=button]:hover{
    background-color: #ffa703;
}
.tabla_mantenimiento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.tabla_mantenimiento table{

  width: 100%;
  border-collapse: collapse;

}
.tabla_mantenimiento tr{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabla_mantenimiento td{
    border: 3px solid #8b0000;
    background-color: rgb(80, 0, 0);
    text-align: center;
    margin: 5px;
}

.tabla_mantenimiento td a{
    text-decoration: none;
    color: #fff;
}
.botones-editar{
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: #8b0000;
    border-style: none;
    color: #fff;
    font-size: 15px;
}
.botones-editar:hover{
    background-color: #ffa703;
}

.boton-funcion{
    background-color: #4e8;
    padding: 5px;
}
.boton-funcion2{
    background-color: red;
    padding: 5px;
}
.tabla_mantenimiento2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.tabla_mantenimiento2 h2{
 font-size: 20px;
}
.tabla_mantenimiento2 p{
    background-color: #e86924;
    padding: 10px;
}
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin: 20px;
    padding: 20px;
}
.formulario-login div{
    padding: 20px;
    background-color: #8b0000b9;
    box-shadow: 1px 1px 5px#000000;
}
.formulario-login h1{
    font-size: 50px;
    text-shadow: 4px 2px #000000;
}
.formulario-login input{
    margin-top: 20px;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: none;
    box-shadow: 5px 5px 5px#000000;
}
.formulario-login input[type= submit],input[type=button]{
    margin: 40px 10px 30px 10px;
    padding-left: 0px;
    width: 120px;
    background-color: #ff7700;
    color: #fff;
    font-size: 25px;
}

.formulario-login input[type= submit]:hover,input[type=button]:hover{
    background-color: #8b0000;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
#formulario-registro h1{
    margin: 25px;
    text-shadow: 1px 1px 5px#000000;
}
#formulario-registro form{
    padding: 15px;
    margin: 50px;
    width: 500px;
    height: 350px;
    background-color: #8b0000b9;
    box-shadow: 1px 1px 5px#000000;
}
#formulario-registro input[type=text], input[type=email]{
    width: 200px;
    padding-left: 10px;
    height: 25px;
    border: none;
    margin:5px;
}
#formulario-registro input[type=email]{
    width: 97%;
}
#formulario-registro input[type=radio]{
    margin: 15px;
}
#formulario-registro input[type=submit]{
    padding-left: 0px;
    width: 120px;
    background-color: #ff7700;
    color: #fff;
    font-size: 25px;
    border: none;
}
#formulario-registro input[type=submit]:hover{
    background-color: #8b0000;
}
















footer{
	display: flex;
	justify-content: center;
	letter-spacing: 2px;
	margin-top: 50px;
    
}